<form name="myForm" role="form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="Group">Group</label>
        <div class="col-sm-3">
            <!--<input type="text" class="form-control" ng-model="item.ReportGroupCode" required />-->
            <select name="Group" ng-options="rg.Code as rg.Title for rg in reportGroups" ng-model="item.reportGroupCode" class="form-control" required> </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="Title">Title</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="item.title" placeholder="Report title" required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="Title">Number</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="item.reportNumber" placeholder="Report Number, to be put before title (eg 1a)" required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="Title">Narrative</label>
        <div class="col-sm-8">
            <textarea type="text" class="form-control" ng-model="item.narrative" placeholder="Long description of the report and its outputs" required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="Title">SQL Query</label>
        <div class="col-sm-8">
            <textarea rows="15" ui-codemirror="sqlEditorOptions"  class="form-control" ng-model="item.reportQuery" ng-blur="checkSql()" placeholder="SQL query. Use of ORDER BY is not supported."  required />
            <br />
            <div class="alert alert-danger" ng-hide="isOrderByOk"><strong>Warning. </strong>Please remove ORDER BY clause from the query</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="Title">SQL Column</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="item.columnSqlNames" placeholder="comma separated list of column names" ng-blur="checkColumnCountOk()" required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="Title">Report Column</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="item.columnTitles" placeholder="comma separated list of column titles" ng-blur="checkColumnCountOk()" required />
            <br />
            <div class="alert alert-danger" ng-hide="isColumnCountOk"><strong>Warning. </strong>Mismatch between column numbers</div>
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Title">Parameters</label>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
                    <h4>Not Required</h4>
                </div>
                <div class="col-sm-2">
                    <h4>Mandatory</h4>
                </div>
                <div class="col-sm-2">
                    <h4>Optional</h4>
                </div>
                <div class="col-sm-4">
                    <h4>Parameter</h4>
                </div>
            </div>
            <div class="row" ng-repeat="p in params">
                <hr />
                <div class="col-sm-2">
                    {{p.value}}
                </div>
                <div class="col-sm-2">
                    <input type="radio" ng-model="item[p.key]" value="0" ng-change="checkSqlParameter(p)"/>
                </div>
                <div class="col-sm-2">
                    <input type="radio" ng-model="item[p.key]" value="1" ng-change="checkSqlParameter(p)"/>
                </div>
                <div class="col-sm-2">
                    <input type="radio" ng-model="item[p.key]" value="2" ng-change="checkSqlParameter(p)"/>
                </div>
                <div class="col-sm-1">
                    {{p.sqlCode}}
                </div>
                <div class="col-sm-3 text-danger" ng-if="!p.isValid">
                    <i class="fa fa-exclamation" />
                    <span ng-if="item[p.key] < 1">In SQL but not required</span>
                    <span ng-if="item[p.key] > 0">Not in SQL</span>
                </div>
            </div>
            <hr />
        </div>
    </div>

    <div class="form-group" ng-hide="item.optGear == 0">
        <label class="control-label col-sm-2" for="Title">Gear(s)</label>
        <div class="col-sm-3">
            <label ng-repeat="gearType in gearTypes" class="checkbox-inline">
                <input type="checkbox"
                       name="selectedGears[]"
                       value="{{gearType.key}}"
                       ng-checked="gears.indexOf(gearType.key) > -1"
                       ng-click="toggleGearSelection(gearType.key)"
                       >
                {{gearType.value}}&nbsp;
        </div>
    </div>
    
    <br />
    
    <div class="form-actions">
        <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="myForm.$invalid || !validateForm()">Submit</button>
            <a href="#/" class="btn">Cancel</a>
        </div>
    </div>

</form>
