


<h4 class="text-center" ng-show="isLoading"><i class="fa fa-spinner fa-spin"></i> Loading... </h4>
<h4 class="text-center text-danger" ng-show="(totalItems === 0) && !isLoading">No Data Found</h4>
<div ng-hide="totalItems === 0">
    <input type="text" ng-model="search" class="form-control" />
    <h5 class="center-block">Number of records <span class="label label-default">{{totalItems}}</span></h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-repeat="header in headers">
                    <sort-by onsort="onSort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortedBy" sortvalue="{{ header.value}}">
                        {{ header.title}}
                    </sort-by>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in items | filter:search">
                <td ng-repeat="header in headers">
                   {{row[header.value]}}
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-show="totalItems > filterCriteria.pageSize" class="align-center">
        <pagination total-items="totalItems" page="filterCriteria.pageNumber" items-per-page="filterCriteria.pageSize"
                    max-size="15" boundary-links="false"
                    on-select-page="selectPage(page)">
        </pagination>
    </div>


</div>    

