 
    <ul class="breadcrumb">
        <li><a href="#/">Request</a></li>
        <li class="active">{{action}} - {{item.TripNo}}</li>
    </ul>
   <form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="tripNo" class="col-sm-2 control-label">Trip No.</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="tripNo" placeholder="Trip No."
          ng-model="item.TripNo">
    </div>
  </div>
         <div class="form-group">
    <label for="PrgTripNo" class="col-sm-2 control-label">Program Trip No</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="PrgTripNo" placeholder="Program Trip No"
          ng-model="item.PrgTripNo">
    </div>
  </div>
  <div class="form-group">
    <label for="obsprgcode" class="col-sm-2 control-label">OBS Program Code</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="obsprgcode" placeholder="OBS Program Code"
          ng-model="item.ObsprgCode">
    </div>
  </div>
   <div class="form-group">
    <label for="StaffCode" class="col-sm-2 control-label">Observer Code</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="StaffCode" placeholder="Observer Code"
          ng-model="item.StaffCode">
    </div>
  </div>
  <div class="form-group">
    <label for="VesselId" class="col-sm-2 control-label">Vessel ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="VesselId" placeholder="Vessel ID"
          ng-model="item.VesselId">
    </div>
  </div>
<div class="form-group">
    <label for="DepartDate" class="col-sm-2 control-label">Depart Date</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="DepartDate" placeholder="Depart Date"
          ng-model="item.DepartDate">
    </div>
  </div>
<div class="form-group">
    <label for="ReturnDate" class="col-sm-2 control-label">Return Date</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="ReturnDate" placeholder="Return Date"
          ng-model="item.ReturnDate">
    </div>
  </div>
<div class="form-group">
    <label for="DepartPort" class="col-sm-2 control-label">Depart Port</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="DepartPort" placeholder="Depart Port"
          ng-model="item.DepartPort">
    </div>
  </div>
<div class="form-group">
    <label for="ReturnPort" class="col-sm-2 control-label">Return Port</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="ReturnPort" placeholder="Return Port"
          ng-model="item.ReturnPort">
    </div>
  </div>
<div class="form-group">
    <label for="RequestDate" class="col-sm-2 control-label">Request Date</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="RequestDate" placeholder="Request Date"
          ng-model="item.RequestDate">
    </div>
  </div>
<div class="form-group">
    <label for="SendDate" class="col-sm-2 control-label">Send Date</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="SendDate" placeholder="Send Date"
          ng-model="item.SendDate">
    </div>
  </div>
<div class="form-group">
    <label for="IsComplete" class="col-sm-2 control-label">Is Complete?</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="IsComplete" placeholder="Is Complete?"
          ng-model="item.IsComplete">
    </div>
  </div>
<div class="form-group">
    <label for="FormTypeId" class="col-sm-2 control-label">Form Type ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="FormTypeId" placeholder="Form Type ID"
          ng-model="item.FormTypeId">
    </div>
  </div>
<div class="form-group">
    <label for="Comments" class="col-sm-2 control-label">Comments</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Comments" placeholder="Comments"
          ng-model="item.Comments">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
   
<p>&nbsp;</p>